
.topnav {
    background-color: #333;
    overflow: hidden;
    text-align: center;

  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2d7;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 30px;

  }
  .topnav a:hover{
    color: #ffffff;

  }
  
  /* Change the color of links on hover */
 
  .current-menu-item a {
    color: #fce77d !important;
    background: #000000 !important;
    text-align: center;
    margin-top:10px;

  }
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }
  .active{
   color: #ffffff
  }
  @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');


  .Ml10problue{
    font-family: 'Oswald', sans-serif;

  }

  .mp10probtxt{
    font-family: 'Oswald', sans-serif;
    font-size: 100px;
    margin-bottom: -130px;
  }
  .Ml10pro{
    font-size: 80px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
  }
  a{
    text-decoration: none;
    font-size: 30px;
  }
  .row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    margin: 0 -16px;
  }
  
  .col-25 {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
  }
  
  .col-50 {
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
  }
  
  .col-75 {
    -ms-flex: 75%; /* IE10 */
    flex: 75%;
  }
  
  .col-25,
  .col-50,
  .col-75 {
    padding: 0 16px;
  }
  
  
  
  input[type=text] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  label {
    margin-bottom: 10px;
    display: block;
  }
  
  .icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
  }
  
  .btn {
    background-color: #04AA6D;
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
  }
  
  .btn:hover {
    background-color: #45a049;
  }
  
  span.price {
    float: right;
    color: grey;
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */
  @media (max-width: 800px) {
    .row {
      flex-direction: column-reverse;
    }
    .col-25 {
      margin-bottom: 20px;
    }
    .Ml10problue{
      width:100px;
    }
    .mp10probtxt{
      font-size: 50px;
    }
  }
  .comp10protxt{
    text-align: center;
  
  }
 
  
  .ashmp10propuimg{
    margin-top: 50px;

  }
  .ashmp10propubna{
text-align: center; 
   }
  .item-1{
    border: 5px solid rgba(201, 82, 231, 0.815);
    border-radius: 30px;
    border-spacing: 70px;
    text-align: center;
  }
  .container{
    text-align: center;
  }
  .specmp10rpo{
    text-align: center;
  }